%h3 Modulhandbuch
%p
  Dieses Projekt nutzte den Service von DBLP Computer Science Bibliography (Universität trier)
  un das Modulhandbuch der HSRM mit den Publikationen zu ergänzen.
%p
  = link_to 'Hier', 'https://dblp.uni-trier.de/xml/docu/dblpxml.pdf'
  kann man die Beschreibung der Schnittstelle herunterladen.
%p
  = link_to 'Hier', module_descriptions_path
  finden Sie die Modulbeschreibungen aller Lehrveranstaltungen des Master-Studiengangs.
