
%nav.uk-navbar-container
  .uk-navbar-left
    %ul.uk-navbar-nav
      %li.uk-active
        = link_to 'Lecturers', lecturers_path
      %li.uk-parent
        = link_to 'Publikations', publications_path
