<%# add navigation links to this file %>
<li>
	<i class="fa fa-building-o" aria-hidden="true"></i>
	<%= link_to 'Professoren', lecturers_path %>
</li>
<li>
	<i class="fa fa-plus-square-o" aria-hidden="true"></i>
	<%= link_to 'Module', module_descriptions_path%>		
</li>
<li>
	<i class="fa fa-plus-square" aria-hidden="true"></i>
	<%= link_to 'Publikationen', publications_path%>	
</li>

